#header {
  margin: 0 auto;
  height: width: 100px;
  text-align: center;
}

#content {
  margin: 0 auto;
  height: 550px;
  width: 1000px;
  padding: 50px;
  box-shadow: 5px 5px 15px #888;
}

#footer {
  margin: 50px auto;
  height: width: 100px;
  text-align: center;
}
  
